name: Docker-hub

on:
  push:
    branches: [ "main" ]

jobs:
    build-and-push:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v5
        - run:  docker login -u 7limnes7 -p ${{ secrets.vs}}
        - run:  docker build -t 7limnes7/matomo:latest -f ./Ejercicio2/.Dockerfile
        - run:  docker push 7limnes7/matomo